$white: #fff;
$light-gray: #f8f8f8;
$gray: #111;
$black: #1d1b1b;

body, html {
    height: 100%;
}

nav {
    background: #272323;
    color: $white;
    height: 100%;
}

.logo {
    margin: auto;
    padding-top: 10px;
    display: block;
}

.info {
    color: $white;
    display: table;
    height: 75px;
    background: -moz-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#008fe2),color-stop(100%,#00b29c));
    background: -webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: linear-gradient(154deg,#008fe2 0,#00b29c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);
}

.left-bar-top {
    height: 75px;
    background: $light-gray;
    color: $gray;
}

.menu {
    color: $white;
    width: 100%;
    margin-top: 30px;
    padding: 25px 0px 20px 20px;
    h4 {
        font-size: 12px;
        display: inline;
        padding-left: 5px;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    img {
        display: inline;
    }
    &:hover {
        background: $black;
    }
}